@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  background-color: #e7f2f8;
  height: 280px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #74bdcb;
}

.childContainer {
  font-size: 45px;
  margin-left: 30px;
  margin-top: 42px;
  font-weight: bolder;
}

.aqua {
  color: #24b6d3;
}

.childContainer2 {
  margin-top: 40px;
  margin-left: 50px;
  padding-right: 50px;
}

.profile {
  border-radius:50%;
}